# Environment
.env
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
env/
.venv/
venv
# IDE
.idea/
.vscode/
*.swp
*.swo

# Streamlit
.streamlit/secrets.toml

# FAISS index cache
*.faiss
faiss_index/

# Testing
.pytest_cache/
pedisafe/report.html
pedisafe/.pytest_cache/
htmlcov/
.coverage
*.cover
.hypothesis/

# OS
.DS_Store
Thumbs.db

# Project specific
/PROMPTS
PROMPTS
DEVPOST